.Logo {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.Logo-title {
    color: #FFF;
    font-size: 32px;
    margin: 0;
    margin-left: 24px;
    padding: 0;
}

.Logo-subtitle {
    color: #FFF;
    font-size: 16px;
    margin: 0;
    margin-left: 24px;
    padding: 0;
}