.Logo {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Logo-title {
  background: linear-gradient(90deg, #ed693c, #fdc60b);
  background-clip: text;
  font-size: 18px;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}
