.Button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 20px;
}

.Button svg {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
}
