.BlockPopup {
  color: white;
  padding: 8px;
  margin: 0 8px;
  padding: 0 8px;
  position: relative;
  overflow: hidden;
  /* width: 224px; */
}
.BlockPopupList {
  border: 1px solid #404040;
  border-radius: 8px;
  overflow: hidden;
  background: #000000;
  padding: 0;
  list-style: none;
  width: 222px;
  height: 100%;
}

.BlockPopupListItem {
  background-color: #000000;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
}

.BlockPopupListItem:hover {
  background-color: #121212;
}
