.BlockPopup {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 224px;
  border-radius: 8px;
  border-style: solid;
  border-color: #404040;
}
.BlockPopupList {
  height: 100%;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.BlockPopupListItem {
  background-color: #000000;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
}
.BlockPopupListItem:hover {
  background-color: #222222;
}
